.loaderBox{
    background-color: #D9D9D9;
    height: 63px;
    border-radius: 5px;
    padding:10px;
    font-size:10px;
    line-height:20px;
    width:175px;
    text-align: center;
    padding-top: 1px;
}