@font-face {
  font-family: "Ferry";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Ferry"),
       /* Если не получилось*/
       url("/fonts/ferry_black.otf") format("otf"),
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Inter"),
       /* Если не получилось*/
       url("/fonts/Inter-Medium.ttf") format("ttf"),
}
.App {
  margin:0 auto;
  text-align: center;
  font-family: "Inter",Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}




